/* default layout */
#app {
 height: 100%; 
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-color: blue;
}


/* header_wrap */
.header_wrap {
  flex: none;
}
/* header_wrap */

/* main */
.app {
  & > main {
    flex: 1 1 0;
    padding: 8px 16px;
    overflow: auto;
  }
}
/* main */

/* cont_wrap */
.cont_wrap {
	font-size: 16px;
}
/* cont_wrap */


/* footer_wrap */
.footer_wrap {
  flex: none;
}
/* footer_wrap */

/* default layout */

/* unit */
.bold {
	font-weight: bold;
}
/* unit */



/* guide tags */
.guide_title {
  margin: 8px 0;
  padding: 9px 0;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #000;
}
.guide_text {
	margin: 8px 0;
	padding: 9px 0;
  font-size: 16px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
/* guide tags */



.test_sticky {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px;
  background-color: red;
}



.link_list {
  padding: 8px 0;
  > li {
    padding: 4px 0;
    font-size: 24px;
    > a {
      display: inline-block;
      border-bottom: 1px solid #000;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}


.test_dom {
	display: flex;
	&.test_dom_ty1 {
		flex-direction: column;
		gap: 8px ;
	}
}









