.link_list {
  padding: 8px 0;
  > li {
    padding: 4px 0;
    font-size: 24px;
    > a {
      display: inline-block;
      border-bottom: 1px solid #000;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}