.chk_box {
  margin: 20px 0;
  position: relative;
  > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked {
      + label {
        &::before {
          background-color: blue;
        }
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding-left: 24px;
    line-height: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid #000;
    }
  }

}